* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    background-color:#3c789e;
    color: #ffffff;
    padding: 15px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #3c789e;
    color: #ffffff;
  }
  
  .menu li:hover {
    background-color:#81c0ed;
  }
  
  
  /*Responsive CSS referenced from https://www.w3schools.com/css/css_rwd_intro.asp */ 
  
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

  a {
      text-decoration: none;
  }

/* Decorating the sql table */
  table, th, td{
    border: 1px solid #3c789e;
    border-collapse: collapse;
    padding:5px
  }
  
  th {
    background-color:#81c0ed ;
  }

.child {
  width: 50%;
  float:left;
  padding:20px;

}