<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/stylesheet.css')}}" type="text/css">

</head>
<body>

<div class="header">
  <h1>West Valley Medical Center Database</h1>
</div>

<div class="row">
    <div class="col-s-2 menu" style='text-align: center;'>
      <ul>
      <a href="{{ url_for('home')}}"><li> Home</li></a>
      <a href="{{ url_for('medications')}}"><li>Medications</li></a>
      <a href="{{ url_for('nurses')}}"><li>Nurses</li></a>
      <a href="{{ url_for('patients')}}"><li>Patients</li></a>
      <a href="{{ url_for('patientdetails')}}" ><li>Patient Details</li></a>
      <a href="{{ url_for('physicians')}}"><li>Physicians</li></a>
      <a href="{{ url_for('treatments')}}"><li>Treatments</li></a>
  
      </ul>
    </div>

  <div class="col-s-9">
    <div style="text-align: center;"><h1>Medication Directory</h1></div>
  
      <!-- TABLE -->
      <div class="table" style="margin-left: auto; margin-right: auto;">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Dosage</th>
              <th>Unit</th>
            </tr>
          </thead>
          <tbody>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Delete</button></td>
          </tbody>
        </table>
        </div>


      <!-- FORMS -->
  <div class="float">
    <div class="child">
      <h1>Add a New Medication</h1>
      <p>Add a new medication by entering the name,</p>
      <p>dosage and unit.</p>
      <form method="POST">
        <fieldset>
          <label for="name">Name:</label>
          <input type="text" id="name">
        </br>
        </br>
          <label for="dosage">Dosage:</label>
          <input type="text" id="dosage">
        </br>
        </br>
          <label for="unit">Unit:</label>
          <input type="text" id="unit">
          </br>
          </br>
          <input type="submit" value="Submit">
        </fieldset>
      </form>
    </div>

    <div class="child">
      <h1>Update a Medication</h1>
      <p>Update a medication's name,</p>
      <p>dosage and/or unit.</p>
      <form method="POST">
        <fieldset>
          <label for="name">Name:</label>
          <input type="text" id="name">
        </br>
        </br>
          <label for="dosage">Dosage:</label>
          <input type="text" id="dosage">
        </br>
        </br>
          <label for="unit">Unit:</label>
          <input type="text" id="unit">
          </br>
          </br>
          <input type="submit" value="Submit">
        </fieldset>
      </form>
    </div>

  </div>
</div>
</div>




</body>
</html>