<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/stylesheet.css')}}" type="text/css">

</head>
<body>

  <div class="header">
    <h1>West Valley Medical Center Database</h1>
  </div>

  <div class="row">
      <div class="col-s-2 menu" style='text-align: center;'>
        <ul>
        <a href="{{ url_for('home')}}"><li> Home</li></a>
        <a href="{{ url_for('medications')}}"><li>Medications</li></a>
        <a href="{{ url_for('nurses')}}"><li>Nurses</li></a>
        <a href="{{ url_for('patients')}}"><li>Patients</li></a>
        <a href="{{ url_for('patientdetails')}}" ><li>Patient Details</li></a>
        <a href="{{ url_for('physicians')}}"><li>Physicians</li></a>
        <a href="{{ url_for('treatments')}}"><li>Treatments</li></a>
    
        </ul>
      </div>

  <div class="col-s-9">
    <div style="text-align: center;"><h1>Nurse Directory</h1></div>
    <div class="table" style="margin-left: auto; margin-right: auto;">
      <table>
        <thead>
          <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        {% for nurse in nurses %}
        <tbody>
          <td>{{ nurse.firstName }}</td>
          <td>{{ nurse.lastName }}</td>
          {% if nurse.registered == 0 %}
             <td>No</td>
          {% else %}
            <td>Yes</td>
          {% endif %}
          <td>
            <a href="{{ url_for('updatenurse', id=nurse.nurseID) }}"><button>Update</button></a>
            <form method='POST' style='display:inline-block;'>         
              <input type="hidden" name="id" value='{{ nurse.nurseID }}'>
              <input type="submit" name="delete" value="Delete">
            </form>
          </td>
        </tbody>
        {% endfor %}
      </table>
    </div>

    <div class="float">
      <div class="child">
        <div style="text-align:center;"><h1>Add a Nurse</h1></div>
        <p>
          Add a new nurse by entering their first name, <br> last name, and if they are registered.
        </p>
        <form method="POST">
          <fieldset>
            <label for="fname">First Name*: </label>
            <input type="text" name='fname' id="fname" required>
            <br>
            <br>
            <label for="lname">Last Name*:</label>
            <input type="text" name='lname' id="lname" required>
            <br>
            <br>
            <label for="registered">Registered*:</label>
            <select name='registered' id="registered" required>
              <option value=1>Yes</option>
              <option value=0>No</option>
            </select>
            <br>
            <br>
            <input type="submit" name='add' value="Submit">
          </fieldset>
        </form>
      </div>

      <div class="child">
        <h1 style="text-align: center;">Search Nurses</h1>
        <p>Search by first and/or last name.</p>
        <form method="GET">
          <fieldset>
            <label for="name">First Name:</label>
            <input type="text" name="fname">
            <br>
            <br>
            <label for="name">Last Name:</label>
            <input type="text" name="lname">
            <br>
            <br>
            <input type="submit" name='search' value="Submit">
          </fieldset>
        </form>
      </div>
  </div>

  <div class="note">
    <p>Note: Fields marked with a "*" are required.</p>
  </div>


  </div>



</body>
</html>