<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/stylesheet.css')}}" type="text/css">

</head>
<body>

<div class="header">
  <h1>West Valley Medical Center Database</h1>
</div>

<div class="row">
    <div class="col-s-2 menu" style='text-align: center;'>
      <ul>
      <a href="{{ url_for('home')}}"><li> Home</li></a>
      <a href="{{ url_for('medications')}}"><li>Medications</li></a>
      <a href="{{ url_for('nurses')}}"><li>Nurses</li></a>
      <a href="{{ url_for('patients')}}"><li>Patients</li></a>
      <a href="{{ url_for('patientdetails')}}" ><li>Patient Details</li></a>
      <a href="{{ url_for('physicians')}}"><li>Physicians</li></a>
      <a href="{{ url_for('treatments')}}"><li>Treatments</li></a>
  
      </ul>
    </div>
</div>

<div>
  <h2>Nurses</h2>
  <table>
    <thead>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Registered</th>
    </thead>
    <tbody>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>
  </table>
</div>





</body>
</html>