<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/stylesheet.css')}}" type="text/css">

</head>
<body>

  <div class="header">
    <h1>West Valley Medical Center Database</h1>
  </div>

  <div class="row">
      <div class="col-s-2 menu" style='text-align: center;'>
        <ul>
        <a href="{{ url_for('home')}}"><li> Home</li></a>
        <a href="{{ url_for('medications')}}"><li>Medications</li></a>
        <a href="{{ url_for('nurses')}}"><li>Nurses</li></a>
        <a href="{{ url_for('patients')}}"><li>Patients</li></a>
        <a href="{{ url_for('patientdetails')}}" ><li>Patient Details</li></a>
        <a href="{{ url_for('physicians')}}"><li>Physicians</li></a>
        <a href="{{ url_for('treatments')}}"><li>Treatments</li></a>
        </ul>
      </div>


    <div class="col-s-9">
      <div style="text-align: center;"><h1>Patient Directory</h1></div>
      <div class="table" style="margin-left: auto; margin-right: auto;">
          <table>
            <thead>
              <tr>
                {% for header in headings %}
                <th>{{ header }}</th>
                {% endfor %}
              </tr>
            </thead>
            {% for patient in patients %}
            <tbody>
              <td>{{ patient.firstName }}</td>
              <td>{{ patient.lastName }}</td>
                <td>{{ patient.ssn }}</td>
                <td>{{ patient.db}}</td>
                <td>{{ patient.streetAddress }}</td>
                <td>{{ patient.city }}</td>
                <td>{{ patient.state }}</td>
                <td>{{ patient.zip }}</td>
                <td>{{ patient.phone }}</td>
                <td>
                  <a href="{{ url_for('updatepatient', id=patient.patientID) }}"><button>Update</button></a>
                    <form method='POST' style='display:inline-block;'>         
                        <input type="hidden" name="id" value='{{ patient.patientID }}'>
                        <input type="submit" name="delete" value="Delete">
                    </form>
                </td>
            {% endfor %}
            </tbody>
          </table>
      </div>

      <div class="float">
        <div class="child">
          <h1 style="text-align: center;">Add Patient</h1>
          <p>
            Add a patient by entering all of their applicable information.
          </p>
          <form method="POST">
            <fieldset>
              <label for="fname">First Name*:</label>
              <input type="text" id="fname" name="fname" pattern="[A-Z]{1}[a-z]+"  title='First letter needs to be capitalized and the rest lowercase' required>
              <br>
              <br>
              <label for="lname">Last Name*:</label>
              <input type="text" id="lname" name="lname" pattern="[A-Z]{1}[a-z]+" title='First letter needs to be capitalized and the rest lowercase' required>
              <br>
              <br>
              <label for="ssn">SSN*:</label>
              <input type="text" id="ssn" name="ssn" pattern="[0-9]{9}" placeholder="#########" title='Please enter a 9 digit SSN' required>
              <br>
              <br>
              <label for="dob">Date of Birth*:</label>
              <input type="date" id="dob" name="dob" required>
              <br>
              <br>
              <label for="street">Street Address*:</label>
              <input type="text" id="street" name="street" pattern="([0-9])+)[ ]{0,1})([A-Za-z])+([ ])*([A-Za-z])*"  required>
              <br>
              <br>
              <label for="city">City*:</label>
              <input type="text" id="city" name="city" pattern="[A-Za-z ]+" required>
              <br>
              <br>
              <label for="state">State*:</label>
              <select id="state" name="state" required>
                <option></option>
                {% for i in states %}
                <option value={{i}}>{{states[i]}}</option>
                {%endfor%}
              </select>
              <br>
              <br>
              <label for="zip">Zip Code*:</label>
              <input type="text" id="zip" name="zip" pattern="[0-9]{5}" placeholder="#####" title="Please enter a 5 digit zip code" required>
              <br>
              <br>
              <label for="phone">Phone Number*:</label>
              <input type="text" id="phone" name="phone" pattern="^\d{3}-\d{3}-\d{4}$" placeholder="###-###-####" title="Please enter a valid 10 digit phone number" required>
              <br>
              <br>
              <input type="submit" name="add" value="Submit">
            </fieldset>
          </form>
        </div>

        <div class="child">
          <h1 style="text-align: center;">Patient Search</h1>
          <p>
            Search by entering a patient's first name <br> and/or last name.
          </p>
          <form id="search" name="search" method="GET" >
            <fieldset>
              <label for="name">First Name:</label>
              <input type="text" id="fname" name="fname" value="">
              <br>
              <br>
              <label for="name">Last Name:</label>
              <input type="text" id="lname" name="lname" value="">
              <br>
              <br>
              <input type="submit" name="search" value="Submit">
              <br>
              <input name="Reset" type="submit" value="Refresh Page">

            </fieldset>
          </form>
        </div>
      </div>

      <div class="note">
        <p>Note: Fields marked with a "*" are required.</p>
      </div>

    </div>
  </div>


</body>
</html>