<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/stylesheet.css')}}" type="text/css">

</head>
<body>

  <div class="header">
    <h1>West Valley Medical Center Database</h1>
  </div>

  <div class="row">
      <div class="col-s-2 menu" style='text-align: center;'>
        <ul>
        <a href="{{ url_for('home')}}"><li> Home</li></a>
        <a href="{{ url_for('medications')}}"><li>Medications</li></a>
        <a href="{{ url_for('nurses')}}"><li>Nurses</li></a>
        <a href="{{ url_for('patients')}}"><li>Patients</li></a>
        <a href="{{ url_for('patientdetails')}}" ><li>Patient Details</li></a>
        <a href="{{ url_for('physicians')}}"><li>Physicians</li></a>
        <a href="{{ url_for('treatments')}}"><li>Treatments</li></a>
        </ul>
      </div>


    <div class="col-s-9">
      <div style="text-align: center;"><h1>Patient Directory</h1></div>
      <!-- DIV FOR THE TABLE VIEW-->
      <div class="table" style="margin-left: auto; margin-right: auto;">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>SSN</th>
                <th>DOB</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>Phone Number</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button type="button">Delete</button></td>
            </tbody>
          </table>
      </div>

      <div class="float">
        <div class="child">
          <h1 style="text-align: center;">Add Patient</h1>
          <p>
            Add a patient by entering all of their <br> applicable information.
          </p>
          <form method="POST">
            <fieldset>
              <label for="ssn">SSN*:</label>
              <input type="text" id="ssn">
              <br>
              <br>
              <label for="dob">Date of Birth*:</label>
              <input type="text" id="dob">
              <br>
              <br>
              <label for="fname">First Name*:</label>
              <input type="text" id="fname">
              <br>
              <br>
              <label for="lname">Last Name*:</label>
              <input type="text" id="lname">
              <br>
              <br>
              <label for="street">Street Address*:</label>
              <input type="text" id="street">
              <br>
              <br>
              <label for="city">City*:</label>
              <input type="text" id="city">
              <br>
              <br>
              <label for="zip">Zip Code*:</label>
              <input type="text" id="zip">
              <br>
              <br>
              <label for="phone">Phone Number*:</label>
              <input type="text" id="phone">
              <br>
              <br>
              <input type="submit" value="Submit">
            </fieldset>
          </form>
        </div>
        
        <div class="child">
          <h1 style="text-align: center;">Update Patient</h1>
          <p>Update patient information.</p>
          <form method="POST">
            <fieldset>
              <label for="ssn">SSN*:</label>
              <input type="text" id="ssn">
              <br>
              <br>
              <label for="dob">Date of Birth*:</label>
              <input type="text" id="dob">
              <br>
              <br>
              <label for="fname">First Name*:</label>
              <input type="text" id="fname">
              <br>
              <br>
              <label for="lname">Last Name*:</label>
              <input type="text" id="lname">
              <br>
              <br>
              <label for="street">Street Address*:</label>
              <input type="text" id="street">
              <br>
              <br>
              <label for="city">City*:</label>
              <input type="text" id="city">
              <br>
              <br>
              <label for="zip">Zip Code*:</label>
              <input type="text" id="zip">
              <br>
              <br>
              <label for="phone">Phone Number*:</label>
              <input type="text" id="phone">
              <br>
              <br>
              <input type="submit" value="Submit">
            </fieldset>
          </form>
        </div>

        <div class="child">
          <h1 style="text-align: center;">Patient Search</h1>
          <p>
            Search by entering a patient's first name <br> and/or last name.
          </p>
          <form method="GET">
            <fieldset>
              <label for="name">Patient name*:</label>
              <input type="text" id="name">
              <br>
              <br>
              <input type="submit" value="Submit">
            </fieldset>
          </form>
        </div>

      </div>

      <div class="note">
        <p>Note: Fields marked with a "*" are required.</p>
      </div>

    </div>
  </div>


</body>
</html>