<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/stylesheet.css')}}" type="text/css">

</head>
<body>
  
<div class="header">
  <h1>West Valley Medical Center Database</h1>
</div>

<div class="row">
    <div class="col-s-2 menu" style='text-align: center;'>
      <ul>
      <a href="{{ url_for('home')}}"><li> Home</li></a>
      <a href="{{ url_for('medications')}}"><li>Medications</li></a>
      <a href="{{ url_for('nurses')}}"><li>Nurses</li></a>
      <a href="{{ url_for('patients')}}"><li>Patients</li></a>
      <a href="{{ url_for('patientdetails')}}" ><li>Patient Details</li></a>
      <a href="{{ url_for('physicians')}}"><li>Physicians</li></a>
      <a href="{{ url_for('treatments')}}"><li>Treatments</li></a>
  
      </ul>
    </div>

  <div class="col-s-9">
    <div style="text-align: center;"><h1>Treatment Directory</h1></div>
  
      <!-- TABLE -->
      <div class="table" style="margin-left: auto; margin-right: auto;">
        <table>
          <thead>
            <tr>
              <th>Patient</th>
              <th>Medication</th>
              <th>Frequency</th>
              <th></th>
            </tr>
          </thead>
          {% for i in treats %}
          <tbody>
            <td>{{i.name}}</td>
            <td>{{i.medicationName}}</td>
            <td>{{i.frequency}}</td>
            <td>              
              <form style="display:inline-block;" method="POST" id="Delete" name="Delete">
              <input type="hidden"  name="id" value={{i.treatmentID}}>
              <button type="submit" name="Delete" value="Delete">Delete</button>
              </form> 
              
              <form style="display:inline-block;" method="POST" id="Update" name="Update">
              <input type="hidden"  name="id" value={{i.treatmentID}}>
              <input type="hidden"  name="fname" value={{i.firstName}}>
              <input type="hidden"  name="lname" value={{i.lastName}}>
              <input type="hidden"  name="patID" value={{i.patientID}}>
              <input type="hidden"  name="medication" value={{i.medicationName}}>
              <input type="hidden"  name="medID" value={{i.medicationID}}>
              <input type="hidden"  name="frequency" value={{i.frequency}}>
              <button type="submit" name="Update" value="Update">Update</button>
              </form> </td>
            {%endfor%}
          </tbody>

        </table>
        </div>


  <!-- FORMS -->
  <div class="float">
    <div class="child">
      <h1>Add A New Treatment</h1>
      <p>Add a new treatment by selecting the patient's</p>
      <p>name, medication, and frequency.</p>
      <form name="Add" method="POST">
        <fieldset>
          <label for="name">Patient*:</label>
          <select id="name" name="name" required>
            <option></option>
            {% for i in names %}
            <option value={{i.patientID}}>{{i.name}}</option>
            {%endfor%}
          </select>
        </br>
        </br>
          <label for="medication">Medication*:</label>
          <select id="medication" name="medication" required>
            <option></option>
            {% for i in meds %}
            <option value={{i.medicationID}}>{{i.medicationName}}</option>
            {%endfor%}
          </select>
        </br>
        </br>
          <label for="frequency">Frequency*:</label>
          <input type="text" name="frequency" id="frequency" pattern="QD|TID|QID|[1-9]+[Q]+[1-9]+[H]" required="required" title='Acceptable Notation: QD, TID, QID, or _Q_H, where _ equals a number between 1 and 9'>
          </br>
          </br>
          <input name="Add" type="submit" value="Submit">
        </fieldset>
      </form>
    </div>

    <div class="child">
      <h1 style="text-align: center;">Filter The Treatments</h1>
      <p>Choose to filter the data by Patient Name,</p>
      <p>Medication or Frequency</p>
      <form method="POST">
      <fieldset>
        <label for="filter1">Filter By*:</label>
        <select id="filter1" name="filter1" required>
          <option value=""></option>
          <option value="Pat">Patient</option>
          <option value="Med">Medication</option>
          <option value="Freq">Frequency</option>
        </select>
      </br>
      </br>

        <div id="hiddenPat"  style="display:none">
          <label for="result">Patient*:</label>
        <select id="result" name="result" required>
          <option></option>
          {% for i in names %}
          <option value={{i.patientID}}>{{i.name}}</option>
          {%endfor%}
        </select>
        </div>
        
        <div id="hiddenMed"  style="display:none">
          <label for="result1">Medication*:</label>
          <select id="result1" name="result1" required>
            <option></option>
            {% for i in meds %}
            <option value={{i.medicationID}}>{{i.medicationName}}</option>
            {%endfor%}
          </select>
        </div>

        <div id="hiddenFreq"  style="display:none">
          <label for="result2">Frequency*:</label>
            <select id="result2" name="result2" required>
              <option></option>
              {% for i in freq %}
              <option value={{i.frequency}}>{{i.frequency}}</option>
              {%endfor%}
            </select>
        </div>
            
      </br>
      </br>
        <input name="Filter" type="submit" value="Submit">
      </fieldset>
      </form>
    </div>
  </div>

  <div class="note">
    <p><h3>-Acceptable notation for Frequency is as follows:</h3>
      <ul><b>QD</b>: Once daily</ul>
      <ul><b>TID</b>: Three times daily</ul>
      <ul><b>QID</b>: 4 times daily</ul>
      <ul><b>_Q_H</b>: _ units per _ hours (i.e. 4q3H: 4 units every 3 hours) </ul>
    </p>
    <p>Note: Fields marked with a "*" are required.</p>
  </div>

</div>
</div>

<script>
var select = document.getElementById('filter1'),
onChange = function(event) {
  var shown = this.options[this.selectedIndex].value == "Pat";
    document.getElementById('hiddenPat').style.display = shown ? 'block' : 'none';
  
    var shown = this.options[this.selectedIndex].value == "Med";
    document.getElementById('hiddenMed').style.display = shown ? 'block' : 'none';

    var shown = this.options[this.selectedIndex].value == "Freq";
    document.getElementById('hiddenFreq').style.display = shown ? 'block' : 'none';
};

if (select.addEventListener) {
    select.addEventListener('change', onChange, false);
} else {
  select.attachEvent('onchange', function() {
    onChange.apply(select, arguments);
  });
}
</script>



</body>
</html>
