<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/stylesheet.css')}}" type="text/css">

</head>
<body>

<div class="header">
  <h1>West Valley Medical Center Database</h1>
</div>

<div class="row">
    <div class="col-s-2 menu" style='text-align: center;'>
      <ul>
      <a href="{{ url_for('home')}}"><li> Home</li></a>
      <a href="{{ url_for('medications')}}"><li>Medications</li></a>
      <a href="{{ url_for('nurses')}}"><li>Nurses</li></a>
      <a href="{{ url_for('patients')}}"><li>Patients</li></a>
      <a href="{{ url_for('patientdetails')}}" ><li>Patient Details</li></a>
      <a href="{{ url_for('physicians')}}"><li>Physicians</li></a>
      <a href="{{ url_for('treatments')}}"><li>Treatments</li></a>
  
      </ul>
    </div>

  <div class="col-s-10">
    <div style="text-align: center;"><h1>Treatment Directory</h1></div>
  
      <!-- TABLE -->
      <div class="table" style="margin-left: auto; margin-right: auto;">
        <table>
          <thead>
            <tr>
              <th>Patient ID</th>
              <th>Medication ID</th>
              <th>Frequency</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Delete</button></td>
          </tbody>
        </table>
        </div>


  <!-- FORMS -->
  <div class="float">
    <div class="child">
      <h1>Add A New Treatment</h1>
      <p>Add a new treatment by entering the patient's</p>
      <p>ID, medication ID, and frequency.</p>
      <form method="POST">
        <fieldset>
          <label for="ID">Patient ID*:</label>
          <input type="number" id="ID">
        </br>
        </br>
          <label for="medication">Medication ID*:</label>
          <input type="number" id="medication">
        </br>
        </br>
          <label for="frequency">Frequency*:</label>
          <input type="text" id="frequency">
          </br>
          </br>
          <input type="submit" value="Submit">
        </fieldset>
      </form>
    </div>

    <div class="child">
      <h1>Update a Treatment</h1>
      <p>Update a patient's ID, medication ID and/or</p>
      <p>frequency.</p>
      <form method="POST">
        <fieldset>
          <label for="ID">Patient ID*:</label>
          <input type="number" id="ID">
        </br>
        </br>
          <label for="medication">Medication ID*:</label>
          <input type="number" id="medication">
        </br>
        </br>
          <label for="frequency">Frequency*:</label>
          <input type="text" id="frequency">
          </br>
          </br>
          <input type="submit" value="Submit">
        </fieldset>
      </form>
    </div>

    <div class="child">
      <h1 style="text-align: center;">Filter By Patient</h1>
      <p>Enter a patient's ID to filter</p>
      <p>the treatments by.</p>
      <form method="POST">
        <fieldset>
          <label for="ID">Patient ID*:</label>
          <input type="number" id="ID">
        </br>
        </br>
          <input type="submit" value="Submit">
        </fieldset>
      </form>
    </div>
  </div>

  <div class="note">
    <p><h3>-Acceptable notation for Frequency is as follows:</h3>
      <ul><b>QD</b>: Once daily</ul>
      <ul><b>TID</b>: Three times daily</ul>
      <ul><b>QID</b>: 4 times daily</ul>
      <ul><b>q_H</b>: _ units per _ hours (i.e. 4q3H: 4 units every 3 hours) </ul>
    </p>
    <p>Note: Fields marked with a "*" are required.</p>
  </div>

</div>
</div>




</body>
</html>
