<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/stylesheet.css')}}" type="text/css">     
    </head>
    <body>
        <div class='header'>
            <h1>West Valley Medical Center Database</h1>
        </div>
        <div class='row'>
            <div class='col-s-2 menu' style='text-align: center;'>
                <ul>
                    <a href="{{ url_for('home')}}"><li> Home</li></a>
                    <a href="{{ url_for('medications')}}"><li>Medications</li></a>
                    <a href="{{ url_for('nurses')}}"><li>Nurses</li></a>
                    <a href="{{ url_for('patients')}}"><li>Patients</li></a>
                    <a href="{{ url_for('patientdetails')}}" ><li>Patient Details</li></a>
                    <a href="{{ url_for('physicians')}}"><li>Physicians</li></a>
                    <a href="{{ url_for('treatments')}}"><li>Treatments</li></a>
                </ul>
            </div>
        

            <div class='col-s-10'>
                <div style="text-align: center;">
                    <h1>Update Patient Details</h1>
                    <p>If patient does not have a nurse, leave Nurse ID field empty.</p>
                </div>
                <div class='table' style="margin-left: 30%; margin-right: 30%; text-align: center;">
                    <form method='POST' action="{{ url_for('patientdetails') }}">
                        <fieldset>
                            <input type="hidden" name="pid" value='{{ pd[0].patientID}}'>
                            <label for="mdid">Physician ID*:</label>
                            <input type="text" name="mdid" value='{{ pd[0].physicianID }}' required>
                            <br>
                            <br>
                            <label for="nid">Nurse ID:</label>
                            <input type="text" name="nid" value='{{ pd[0].nurseID }}'>
                            <br>
                            <br>
                            <input type="submit" name="update" value="Submit">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>